Source: nodejs-amqp
Section: misc
Priority: extra
Uploaders: Wade Simmons <wade@simplegeo.com>
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.9.1

Package: nodejs-amqp
Depends: nodejs (>= 0.1.90), ${misc:Depends}
Architecture: all
Description: node-amqp
 http://github.com/ry/node-amqp
